/* Define vars for root element */
:root {

    /* Color Variables */
    --main-bg-color: #ddd;
    --main-bg-color-DARK: #000;
    --main-bg-color-DARK-wALPHA: rgba(0,0,0,0.95);
    --L2-surface-color-DARK: #222;
    
    --text-color: black;
    --text-color-DARK: darkgray;

    /* Font Variables */
    --default-fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Distance Variables */
    --iframe-height: 30000px;
    --phone-width-regular: 360px;
} 

.dark-theme {
    background-color: var(--main-bg-color-DARK);
    color: var(--text-color-DARK) ;
}

body {
    padding: 0px 16px;
    margin: 0px;
    font-family: var(--default-fonts);
}

.page-nav {
    height: 100%;
    width: 160px;
    background-color: var(--main-bg-color-DARK-wALPHA);
    position: fixed;
    top: 88px;
    left: 0;
    overflow: auto;
}

.nav-presets {
    list-style-type: none;
    padding: 0px 16px;
    margin: 0px 0px 16px;
}

.nav-presets li {
    margin-bottom: 16px;
}

.nav-presets h6 {
    margin-top: 0px;
}

.nav-presets a {
    /* line-height: 16px; */
    text-decoration: none;
    color: var(--text-color-DARK);
}

.nav-presets a:hover {
    /* line-height: 16px; */
    text-decoration: underline;
    color: white;
}

.nav-presets span {
    font-size: .67em;
}

.nav-presets hr {
    border: 1px solid var(--L2-surface-color-DARK);
    border-radius: 1px;
}

.page-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    padding: 0px 16px;
    background-color: var(--main-bg-color-DARK-wALPHA);
}

.page-header-controls {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 4;
    justify-content: flex-end;
    padding: 16px 0px;
    align-items: center;
}

.page-header-controls 
button{
    height: 56px;
    padding: 12px 16px;
    margin-left: 8px;
    border: 0px solid var(--text-color-DARK);
    background-color: var(--main-bg-color-DARK);
    color: var(--text-color-DARK);
    border-radius: 8px;
    position: relative;
    right: 32px;
    align-items: center;
}

.page-header-controls 
button:hover{
    background-color: var(--L2-surface-color-DARK);
}

#theFold {
    display: block;
    position: fixed;
    left: 160px;
    right: 0px;
    top: 616px;
    bottom: 0px;

    background-color: rgba(0,0,0,0.50);
}

.PageDeck {
    display: flex;
    flex-flow: row nowrap;
    padding: 0px 0px 16px 160px;
    margin: 88px 0px 80px 0px;
    overflow: scroll;
}

.column-header
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px;
    background-color: var(--main-bg-color-DARK-wALPHA);
}

.column-header 
p {
    text-align: center;
    font-weight: lighter;
    font-size: 12px;
}

.iFrameContainer {
    width: var(--phone-width-regular);
    height: var(--iframe-height);
    margin: 0px;
    padding-right: 16px;

}

iframe {
    height: var(--iframe-height); 
    width: var(--phone-width-regular); 
    border: 0px; 
    overflow: no;
}
